services:
    api:
        build:
          context: .
          dockerfile: Dockerfile
        restart: 'always'
        ports:
            - "5003:5003"
        environment:
            - API_URL=${API_URL}
